IF ELSE

In [1]:
a = 20

In [2]:
if a> 15:
    pass

In [3]:
# : - is must in python for every condition(like if, for loop, etc)
# pass - a reserved key word used when user isn't going to use it, then it returns nothing (like dead code)

In [4]:
if a< 10:
    print(a)

In [5]:
# as condition is failed, it returns nothing

In [6]:
if a>18:
    print('A is greater')
else:
    print('A is smaller')

A is greater

MULTIPLE CONDITIONAL STATEMENT

In [7]:
income = 10000 
if income < 5000:
    print('I will buy a phone')
elif income < 6000:
    print('I will buy a TV')
elif income < 7000:
    print("I'll buy a car" )
elif income < 8000:
    print('I rent a house')
else:
    print("I will buy all")

I will buy all

In [8]:
# elif- means else if, it means if given statement doesn't satisfy if condition, it checks for elif

In [9]:
income = int(input())
if income < 5000:
    print('I will buy a phone')
elif income < 6000:
    print('I will buy a TV')
elif income < 7000:
    print("I'll buy a car" )
elif income < 8000:
    print('I rent a house')
else:
    print("I will buy all")

200
I will buy a phone

In [10]:
# input- takes string data, so we need to type cast it into int for comparision

In [11]:
Total_price =int(input())
if Total_price < 6000:
    discount = Total_price *.10
    print('Discount will be ', discount)
elif Total_price < 7000:
    discount = Total_price *.15
    print("Discount will be ", discount)
elif Total_price < 8500:
    discount = Total_price *.08
    print("Discount will be ", discount)
else:
    print("Discount isn't available")

9000
Discount isn't available

In [12]:
coup = "AMAZON15"
if coup == 'AMAZON15':
    print('You will get a disc of 15%')
    paid_amt = 7500- 7500*.15
    print('You have to pay ', paid_amt)
else:
    print("plz use a valid coupon code")

You will get a disc of 15%
You have to pay  6375.0

In [13]:
# Note: = - Assignment operator
# == - Comparision Operator

In [16]:
coup = input()
date = input()
if coup == 'AMAZON15':
    print('You will get a disc of 15%')
    paid_amt = 7500- 7500*.15
    print('You have to pay ', paid_amt)
    if date <= (9:6:2022):
        print("You will have a lifetime access")
    else:
        print('You will have access for 1 year')
        
else:
    print("plz use a valid coupon code")

SyntaxError: invalid syntax (<ipython-input-16-f0274ad598e6>, line 7)

In [17]:
#### Need to know how to key date format as data input

MULTIPLE CONDITIONS

In [18]:
studyhour = int(input())
if studyhour ==2:
    print("It may take 8-9 months for job placement")
elif studyhour>2 and studyhour<5:
    print("It may take 5-6 months for job placement")
else:
    print("it will be difficult")

5
it will be difficult

In [19]:
# Range can be considered only when written as "var> and var<"

In [20]:
wages = int(input())
if wages == 6000:
    print("I can have 2 meals a day")
elif wages <= 10000 & wages >6000 :
    print("I can have 3 meals a day")
elif wages >10000 & wages < 20000:
    print("I can rent a house")
else:
    print("It's difficult to pass a day without meal")

5800
I can rent a house

In [21]:
expenses = float(input())
if expenses == 6000:
    print("I can't save anything")
elif expenses < 10000 and expenses >6000 :
    print("I can save 500 per month")
elif expenses >10000 and expenses < 20000:
    print("I can save 5000 per month")
else:
    print("It's difficult to survive")

3622
It's difficult to survive

In [22]:
# float- doesn't support operand (&), so use 'and' to run it

Nested Else_If condition

In [23]:
s = input()
course = input()
service= input()
if s=="Ineuron":
    if course =="DataScience":
        if service =="FSDS":
            print("Course is available & costs 15000")
        elif service=="1neuron":
            print("Course is available & its price is 7080")
        else:
            print("You're request is noted, we will notify you when course is available")
    elif course =="Big_Data":
        if service== "Hadoop":
            print("Course is yet to start from 1st July & U can enroll for it")
        elif service== "Big_Data_Analytics":
            print("Course is present, you can enroll")
        else:
            print("You're request is noted, we are working on it")
    elif course =="AI":
        if service=="NLP":
            print("Course is available & costs 17700")
        elif service=="Text_Mining":
            print("Course is already started, you can join")
        else:
            print("Requested course is unavailable")
    elif service=="BA":
        print("Business Analytics is available & it offers various sub-courses")
    else:
        print("Sorry we're not able to meet your demand")
else:
    print("Please enter valid details")

AI
NLP
BA
Please enter valid details

In [26]:
s = input("enter a string to start: ")
course = input("enter course name: ")
service =input('enter service name: ')
if s=="Ineuron":
    if course =="DataScience":
        if service =="FSDS":
            print("Course is available & costs 15000")
        elif service=="1neuron":
            print("Course is available & its price is 7080")
        else:
            print("You're request is noted, we will notify you when course is available")
    elif course =="Big_Data":
        if service== "Hadoop":
            print("Course is yet to start from 1st July & U can enroll for it")
        elif service== "Big_Data_Analytics":
            print("Course is present, you can enroll")
        else:
            print("You're request is noted, we are working on it")
    elif course =="AI":
        if service=="NLP":
            print("Course is available & costs 17700")
        elif service=="Text_Mining":
            print("Course is already started, you can join")
        else:
            print("Requested course is unavailable")
    elif course=="Tech_Neuron":
        if service =='AIOPS':
            print("We're working on it, our team will get back to you in 15 days")
        else:
            print("Please contact our support team")
    else:
        print("Sorry we're not able to meet your demand")
else:
    print("Please enter valid details")

enter a string to start:
enter course name:
enter service name:
Please enter valid details

# For Loop

In [27]:
# For loop - Used when we want to run a task for every item in a list/tuple
# Also used for accessing individual item from a given/particular set of data

In [28]:
L = [1,3,5,7,9]
for i in L:
    print(2+i)

3
5
7
9
11

In [29]:
Dt = [2,4,6.8,10j,'True',False,[34,345,456],(5667,688,'gf')]

In [30]:
for i in Dt:
    print(type(i), 'type of', i)

<class 'int'> type of 2
<class 'int'> type of 4
<class 'float'> type of 6.8
<class 'complex'> type of 10j
<class 'str'> type of True
<class 'bool'> type of False
<class 'list'> type of [34, 345, 456]
<class 'tuple'> type of (5667, 688, 'gf')

In [31]:
L = [1,3,5,7,9]
L1 =[]
for i in L:
    print(2+i)
    L1.append(i+2)

3
5
7
9
11

In [32]:
L1

[3, 5, 7, 9, 11]

Extraction of elements using for loop

In [33]:
Dt

[2, 4, 6.8, 10j, 'True', False, [34, 345, 456], (5667, 688, 'gf')]

In [34]:
for i in Dt:
    if type(i) ==int:
        print(i)

2
4

In [35]:
Dt.append(['bfdb',7667,2321,3.0,True])

In [36]:
Dt

[2,
 4,
 6.8,
 10j,
 'True',
 False,
 [34, 345, 456],
 (5667, 688, 'gf'),
 ['bfdb', 7667, 2321, 3.0, True]]

In [37]:
for i in Dt:
    if type(i)==list:
        print(i)

[34, 345, 456]
['bfdb', 7667, 2321, 3.0, True]

In [38]:
for i in Dt:
    if type(i)==int:
        print(i)
    elif type(i)==list:
        for j in i:
            if(type(j))==int:
                print(j)

2
4
34
345
456
7667
2321

Getting inidices of list using for loop

In [39]:
Dt

[2,
 4,
 6.8,
 10j,
 'True',
 False,
 [34, 345, 456],
 (5667, 688, 'gf'),
 ['bfdb', 7667, 2321, 3.0, True]]

In [40]:
for i in Dt:
    print(Dt.index(i),i)

0 2
1 4
2 6.8
3 10j
4 True
5 False
6 [34, 345, 456]
7 (5667, 688, 'gf')
8 ['bfdb', 7667, 2321, 3.0, True]

In [41]:
Data =[1,2,3,3,3,4,5,5]

In [42]:
for i in Data:
    print(Data.index(i),i)

0 1
1 2
2 3
2 3
2 3
5 4
6 5
6 5

In [43]:
# Index function doesn't work when there is repition of elements in list, so have to use range fun to get indices

In [44]:
# Using range & for loop getting index of elements in list

In [45]:
for i in range(len(Dt)):
    print("index", i, "for an element of", Dt[i])

index 0 for an element of 2
index 1 for an element of 4
index 2 for an element of 6.8
index 3 for an element of 10j
index 4 for an element of True
index 5 for an element of False
index 6 for an element of [34, 345, 456]
index 7 for an element of (5667, 688, 'gf')
index 8 for an element of ['bfdb', 7667, 2321, 3.0, True]

In [46]:
# Other way to get indices - Enumerate gives index along with its element
for i in enumerate(Dt):
    print(i)

(0, 2)
(1, 4)
(2, 6.8)
(3, 10j)
(4, 'True')
(5, False)
(6, [34, 345, 456])
(7, (5667, 688, 'gf'))
(8, ['bfdb', 7667, 2321, 3.0, True])

In [47]:
# Extract list of elements based on conditions

In [48]:
Dt1 =[1,76,90,78.09,'ddf',['jhbd','juggad'],('djb','duh')]

In [49]:
dt =[]
for i in Dt1:
    if type(i)==str:
        dt.append(i)
        print(dt)
    elif type(i)==list:
        for j in i:
            if type(j)==str:                
                dt.append(j)
                print(dt)
    elif type(i)==tuple:
        for k in i:
            if type(k)==str:
                dt.append(k)
                print(dt)

['ddf']
['ddf', 'jhbd']
['ddf', 'jhbd', 'juggad']
['ddf', 'jhbd', 'juggad', 'djb']
['ddf', 'jhbd', 'juggad', 'djb', 'duh']

In [50]:
dt

['ddf', 'jhbd', 'juggad', 'djb', 'duh']

In [51]:
#Extract list of characters if element is string

In [52]:
for i in Dt1:
    s =[]
    if type(i)==str:
        for j in i:
            s.append(j)
            print(s)

['d']
['d', 'd']
['d', 'd', 'f']

In [53]:
# Extraction of list of characters of string present in list(includes inner list & tuple)
s =[]
for i in Dt1:
    if type(i)==str:
        for j in i:
            s.append(j)
            print(s)
    elif type(i)==list:
        for k in i:
            if type(k)==str:
                for l in k:
                    s.append(l)
                    print(s)
    elif type(i)==tuple:
        for m in i:
            if type(m)==str:
                for n in m:
                    s.append(n)
                    print(s)

['d']
['d', 'd']
['d', 'd', 'f']
['d', 'd', 'f', 'j']
['d', 'd', 'f', 'j', 'h']
['d', 'd', 'f', 'j', 'h', 'b']
['d', 'd', 'f', 'j', 'h', 'b', 'd']
['d', 'd', 'f', 'j', 'h', 'b', 'd', 'j']
['d', 'd', 'f', 'j', 'h', 'b', 'd', 'j', 'u']
['d', 'd', 'f', 'j', 'h', 'b', 'd', 'j', 'u', 'g']
['d', 'd', 'f', 'j', 'h', 'b', 'd', 'j', 'u', 'g', 'g']
['d', 'd', 'f', 'j', 'h', 'b', 'd', 'j', 'u', 'g', 'g', 'a']
['d', 'd', 'f', 'j', 'h', 'b', 'd', 'j', 'u', 'g', 'g', 'a', 'd']
['d', 'd', 'f', 'j', 'h', 'b', 'd', 'j', 'u', 'g', 'g', 'a', 'd', 'd']
['d', 'd', 'f', 'j', 'h', 'b', 'd', 'j', 'u', 'g', 'g', 'a', 'd', 'd', 'j']
['d', 'd', 'f', 'j', 'h', 'b', 'd', 'j', 'u', 'g', 'g', 'a', 'd', 'd', 'j', 'b']
['d', 'd', 'f', 'j', 'h', 'b', 'd', 'j', 'u', 'g', 'g', 'a', 'd', 'd', 'j', 'b', 'd']
['d', 'd', 'f', 'j', 'h', 'b', 'd', 'j', 'u', 'g', 'g', 'a', 'd', 'd', 'j', 'b', 'd', 'u']
['d', 'd', 'f', 'j', 'h', 'b', 'd', 'j', 'u', 'g', 'g', 'a', 'd', 'd', 'j', 'b', 'd', 'u', 'h']

In [54]:
# Extract list of squares of int from a list

In [55]:
Dt = [2,4,6.8,10j,'True',False,[34,345,456],(5667,688,'gf')]

In [56]:
d2 =[]
for i in Dt:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                d2.append(j**2)
                print(d2)
    elif type(i)==tuple:
        for k in i:
            if type(k)==int:
                d2.append(k**2)
                print(d2)
    elif type(i)==int:
        d2.append(i**2)
        print(d2)

[4]
[4, 16]
[4, 16, 1156]
[4, 16, 1156, 119025]
[4, 16, 1156, 119025, 207936]
[4, 16, 1156, 119025, 207936, 32114889]
[4, 16, 1156, 119025, 207936, 32114889, 473344]