Function-
    Function which is bult by someone and made it as ready to use while pass our arguments and dataset.
Eg: Print, len, tuple,append,extend,etc

    We can create our own functions as well and use it when its required.(Usually in production, modular coding is preferred)

Note: When you want to create a function,it should always start with "def" followed by function name with open brackets.
Eg: def test():
        print(range(10))

In [1]:
# Creating function
def test():
    print(range(1,15,2))

In [2]:
test() #so whenever we call test(), it prints what is defined as output in console

range(1, 15, 2)

In [3]:
type(test())

range(1, 15, 2)

NoneType

In [4]:
# It throws error bcoz type of function created is "None". 
# As print fun used in creating function always gives None type irrespect of what it holds in ()

In [5]:
list(test())

range(1, 15, 2)

TypeError: 'NoneType' object is not iterable

In [6]:
str(test())

range(1, 15, 2)

'None'

In [7]:
type(test())

range(1, 15, 2)

NoneType

So this proves that none type cant be type casted. When we try for str type caste=> it gives output in string format but doesn't change its type from "None type".

In [8]:
# Creation of function where you can use it as well as do concatenation
def test1():
    return "This is my 1st fun"

# return is the key word which allows you to execute as well as returns the type of fun u defined.

In [9]:
type(test1())

str

In [10]:
def test2():
    return range(1,12,2)

In [11]:
test2()

range(1, 12, 2)

In [12]:
type(test2())

range

In [13]:
list(test2())

[1, 3, 5, 7, 9, 11]

In [14]:
def test3():
    return [1,2,56j,('a','start')]

In [15]:
test3()

[1, 2, 56j, ('a', 'start')]

In [16]:
type(test3())

list

In [17]:
def test4():
    return 78,569.5,"start",{"key":"value"}

In [18]:
type(test4())

tuple

In [19]:
# when any format isn't given in defining function for collection of diff types of data, it defaultly returns tuple

In [20]:
a = test4()

In [21]:
a

(78, 569.5, 'start', {'key': 'value'})

In [22]:
a[3]

{'key': 'value'}

In [23]:
a[0:3]

(78, 569.5, 'start')

In [24]:
def test5():
    return "kola",("len"),['min'],{25,25.36,52j,(0,2,3,5),[1,4,6]}

In [25]:
test5()

TypeError: unhashable type: 'list'

In [26]:
# Above error is thrown as 'set' cant contain "list' & 'dictionary'. So even def fun is passed, it can't be executed.

def test5():
    return "kola",("len"),['min'],{25,25.36,52j,(0,2,3,5),{1:2}}

def test5_1():
    return "kola",("len"),['min'],{25,25.36,52j,(0,2,3,5)}

In [27]:
test5_1()

('kola', 'len', ['min'], {(0, 2, 3, 5), 25, 25.36, 52j})

In [28]:
# Assigning variables to a function which has collection of diff values/types of data
sa,ra,ga,ma = test5_1()

In [29]:
sa

'kola'

In [30]:
ra

'len'

In [31]:
ga

['min']

In [32]:
ma

{(0, 2, 3, 5), 25, 25.36, 52j}

In [33]:
type(ga)

list

In [34]:
type(test5_1())

tuple

In [35]:
test5_1[3]

TypeError: 'function' object is not subscriptable

In [36]:
# We can do slicing operation in function, can be done when that function is stored in variable
T = test5_1()
T[3]

{(0, 2, 3, 5), 25, 25.36, 52j}

In [37]:
type(T[3])

set

In [38]:
# Storing of logic under fun
def test6():
    a = 48/2 *4
    return a

In [39]:
test6()

96.0

In [40]:
# Filtering out integers from list in fun, getting output as list of integers
def test7(a):
    n =[]
    if type(a) ==list:
        for i in a:
            if type(i)==int:
                n.append(i)
    return n

In [41]:
b = [1,5,7,58j,"salute",(0,5,9),range(8)]

In [42]:
test7(b)

[1, 5, 7]

In [43]:
type(b[-1])

range

In [44]:
c =(742,543,21,"df",[1,3,2.4,3.9])
test7(c)

[]

In [45]:
# Take input as dictionary, get keys as output
def test8(a):
    if type(a)==dict:
        return a.keys()
    else:
        return "You've not given dictionary as input"

In [46]:
d ={1:"sky",2:"sea",3:"shells",4:"course","duration":(245,43.342)}
test8(d)

dict_keys([1, 2, 3, 4, 'duration'])

In [47]:
e =("nfsjdfn",541.565,325)
test8(e)

"You've not given dictionary as input"

In [48]:
# Function: input- 2 lists, check - atleast 1 input is list,output- concatenation of 2 lists, else:message in string format
def test9(g,h):
    if type(g)==list and type(h)==list:
        g.extend(h)
        return g
    else:
        return "Either of your data isn't list"

In [49]:
h1 = [1,2,8.09,7j]
g2=[2,3.7,78]
test9(h1,g2)

[1, 2, 8.09, 7j, 2, 3.7, 78]

In [ ]:
# write a fun which is going to return pyramid structure where input as no.of rows & columns