In [1]:
A= "apple"

In [2]:
type(A)

str

In [3]:
 A[0]

'a'

In [16]:
A[0:2]

'ap'

Here range includes only lower bound but not upper bound.

In [17]:
A[-1]

'e'

In [18]:
A[-1:-4]

''

As jump size is +ve and indices to obtain are in -ve range causing to conflict. Hence range is given empty

In [19]:
A[-1:-4:-1]

'elp'

As jump size & lower and upper limits are in -ve direction, so it gives us result

In [20]:
B = "India is developing nation"

In [21]:
B[0:50]

'India is developing nation'

In [22]:
B[20:40]

'nation'

In [24]:
B[45]

IndexError: string index out of range

When I try to act access a single index of string which doesn't exists, it throws error
For Range,accessing of indices where upper bound is out of string, still it gives result if lower bound is in range or gives empty but not an error

In [25]:
B[1:15:3]

'nasel'

In [26]:
B[0:25:-1]

''

Here we're getting empty string as result bcoz both the bounds are in +ve direction, jump size is in -ve dir, results in conflict of directions, not able to retrive data. Hence empty string

In [27]:
B[::]

'India is developing nation'

As I've not defined lower, upper bound & jump size, by default lower bound is taken as zero and upper bound as total size of the string and jump size= 1.

In [28]:
B[:5:2]

'Ida'

In [29]:
A[::-1]

'elppa'

In [30]:
C ='Modi represents India in UN'

In [31]:
C[-7:5]

''

In [32]:
C[-7:5:-2]

'adIsnsre'

In [33]:
C*2

'Modi represents India in UNModi represents India in UN'

In [35]:
C *3

'Modi represents India in UNModi represents India in UNModi represents India in UN'

so it proves that even when space is provided between variable & number, it doesn't consider

In [36]:
D ='Saree'

In [37]:
E = 3

In [38]:
D+E

TypeError: can only concatenate str (not "int") to str

Concatenation can happen only between strings not between string & integer

In [39]:
F= "Half"

In [40]:
F+D

'HalfSaree'

In [41]:
len(C)

27

Gives you length of the string includes space as well

In [42]:
L = "Hey I'm Ultron"

In [43]:
L.find('e')

1

find funtion- Gives u 1st occurance in the string

In [44]:
L.find('no')

-1

It gives you '-1' when the context ur searching in the string isn't found

In [45]:
L.find('on')

12

In [46]:
L.find('w')

-1

In [47]:
L.find("u")

-1

In [48]:
L.find('t')

10

In [49]:
L.find('U')

8

In [50]:
L

"Hey I'm Ultron"

In [52]:
L.count('H')

1

Count- Gives u no.of occurances of it

In [53]:
C.count('i')

3

In [54]:
D.count('e')

2

In [58]:
M =L.split()
print(M)

['Hey', "I'm", 'Ultron']

Its going to return a new data type(list) where data of string is splitted into small parts where default separator is space

In [59]:
M[2]

'Ultron'

Same as string here we can access indices of the list

In [60]:
M[0:10]

['Hey', "I'm", 'Ultron']

In [61]:
M[0:5:2]

['Hey', 'Ultron']

In [62]:
L.split('r')

["Hey I'm Ult", 'on']

In this way we can change default separator(delimmiter) from space to 'r'. Hence string is splitted into 2 parts based on 'r'

In [63]:
L.split('a')

["Hey I'm Ultron"]

If the mentioned separator isn't available then same string is shown

In [64]:
L.upper()

"HEY I'M ULTRON"

In [65]:
L.lower()

"hey i'm ultron"

In [66]:
M = "She sells Seashells on seashore"

In [67]:
M.swapcase()

'sHE SELLS sEASHELLS ON SEASHORE'

In [68]:
M.title()

'She Sells Seashells On Seashore'

In [69]:
M.capitalize()

'She sells seashells on seashore'

Title function- It capitalizes 1st letter of each word in the string
Capitalize fun- It only capitalizes 1st letter of the string

In [70]:
J = "Animals"
K = "Birds"

In [72]:
J.join(K)

'BAnimalsiAnimalsrAnimalsdAnimalss'

In [73]:
K.join(J)

'ABirdsnBirdsiBirdsmBirdsaBirdslBirdss'

Join function- It joins 2nd variable (each letter) with 1st variable

In [78]:
J.join(" ")

' '

In [79]:
" ".join(K)

'B i r d s'

So 2nd variable's every character i.e, in brackets of join function() is must, then only its able to combine with 1st variable.
Else it gives empty result.
eg: J.join(" ") - result(' ')

In [80]:
for i in reversed(K):
    print(i)

s
d
r
i
B

In [81]:
K[::-1]

'sdriB'

reversed function results can be achieved through range with jump size as -1 as well

In [82]:
R = ' Say Say Say S '

In [83]:
R.strip()

'Say Say Say S'

In [84]:
R.lstrip()

'Say Say Say S '

In [85]:
R.rstrip()

' Say Say Say S'

Strip- Removes space from both sides of the string
lstrip- Removes space from left handside of the string
rstrip- Removes space from right hand side of the string
Note: Strip can only strip from the ends of string but not in between

In [86]:
R.replace('y', 'il')

' Sail Sail Sail S '

In [87]:
"sea\tshells".expandtabs()

'sea     shells'

\t - Represents tab

In [94]:
J.center(20, '**')

TypeError: The fill character must be exactly one character long

Center function- works only when fill character is single & number should be given in which string placed at center

In [95]:
J.center(15,"#")

'####Animals####'

In [105]:
R.isdigit()

False

In [103]:
P ="bh"

In [104]:
P.isalpha()

True

Note: function that starts with 'is' always return True or False bcoz its going to check whether its going to satisfy condition or not

In [106]:
U= 'ASD'

In [107]:
U.isalpha()

True

In [108]:
U.isprintable()

True

In [109]:
U.isupper()

True

In [110]:
I= "1235"

In [111]:
I.isdigit()

True

In [113]:
I.endswith("2")

False

Note: endswith/ startswith fun- works only in bracket is given for string/ tupple, gives answer as True/ False

In [114]:
I.startswith('1')

True

In [115]:
type(I)

str

In [118]:
I1= int(I)

In [119]:
type(I1)

int

# List

List- It is a collection of data, can hold integer, float, composite num, boolean value, string, list as well at a time

In [120]:
H =[123, 456.566, 67j, True, "F", [5665,987.1j, False]]

In [121]:
type(H)

list

In [122]:
H[0]

123

In [123]:
H[1:9]

[456.566, 67j, True, 'F', [5665, 987.1j, False]]

In [126]:
H[5]

[5665, 987.1j, False]

In [130]:
H[0]

123

In [131]:
H[::-1]

[[5665, 987.1j, False], 'F', True, 67j, 456.566, 123]

In [134]:
H[-4:0:-2]

[67j]

Accessing Elements of String inside List

In [135]:
H[5][1]

987.1j

In [136]:
type(H[5][1])

complex

In [137]:
# Extraction of real number & imaginary number in list

In [140]:
H[2].real

0.0

In [139]:
H

[123, 456.566, 67j, True, 'F', [5665, 987.1j, False]]

In [141]:
H[5][1].real

0.0

In [143]:
K =[98, 450.98, 54+2j, False, [98j, 607,24+48j]]

In [144]:
K[2].real

54.0

In [148]:
K[4][0].imag

98.0

In [146]:
K[4][2].real

24.0

In [147]:
K[4][2].imag

48.0

In [149]:
S1 =[567,'set1', True]
S2 =[5679, 'set2', False, 34j]

In [150]:
S1+S2

[567, 'set1', True, 5679, 'set2', False, 34j]

As data type of S1 & S2 are same, concatenation is accepted

In [153]:
S1+ 'safe'

TypeError: can only concatenate list (not "str") to list

As S1 is a list, it cant concatenate with another data type,
work around is as follows

In [155]:
S1+['safe']

[567, 'set1', True, 'safe']

In [156]:
S1*4

[567, 'set1', True, 567, 'set1', True, 567, 'set1', True, 567, 'set1', True]

In [157]:
S1[1] = 'sats'

In [158]:
S1

[567, 'sats', True]

In [164]:
S1[1][1] = 'por'

TypeError: 'str' object does not support item assignment

Hence List elements can be replaced but not for String. So List is called mutable entity and String as immutable entity

In [165]:
# Checking of elements presence in List

In [166]:
'sats' in S1

True

In [167]:
32 in S1

False

when an element is present in list, it returns True else False

In [168]:
S2

[5679, 'set2', False, 34j]

In [169]:
S2.append('check')

In [170]:
S2

[5679, 'set2', False, 34j, 'check']

In [171]:
S2.remove(34j)

In [172]:
S2

[5679, 'set2', False, 'check']

It "removes" given element where as "pop" removes last element

In [173]:
S2.pop()

'check'

In [174]:
S2

[5679, 'set2', False]

In [179]:
S2.insert(1, 45+98.32j)
print(S2)

[5679, (45+98.32j), 143.32, 'set2', 143.32, False]

In [180]:
# Insert function allows to add element in between where as append adds element atlast

In [181]:
S2.pop(2)

143.32

In [182]:
S2

[5679, (45+98.32j), 'set2', 143.32, False]

Pop fun- Can remove element from anywhere apart from last index if index number is given

In [183]:
S2[::-1]

[False, 143.32, 'set2', (45+98.32j), 5679]

In [186]:
S2.reverse()
print(S2)

[False, 143.32, 'set2', (45+98.32j), 5679]

S2[::-1]- This method enables the list sequence in reverse only for this instance
S2.reverse- Reverse the list sequence permanently

In [187]:
S1

[567, 'sats', True]

In [188]:
S2

[False, 143.32, 'set2', (45+98.32j), 5679]

In [190]:
S2.count(45+98.32j)

1

Count of List- Gives no.of occurances occured but not the 1st occurance index

In [191]:
A1 = ['apple']

In [192]:
A1.append([3,4,87,56.09])

In [193]:
A1

['apple', [3, 4, 87, 56.09]]

In [207]:
A1.extend(["peaches", 'cherry',65, 865j,76564])

In [208]:
A1

['apple', 'plum', [3, 4, 87, 56.09], 'peaches', 'cherry', 65, 865j, 76564]

Append fun- Add elements as a list towards the end
Extend fun- Add elements as a part of list at the end but not as new list inside the list(unravel)
Insert fun- Add elements at desired location

Note: Extend fn can add only string/ list to list but not integer/float/complex/boolean value

In [215]:
A2 = ['saffola']

In [216]:
A2.extend(True)

TypeError: 'bool' object is not iterable