Data Types:
String - A collection of characters. Notation - " " or ' '
List - A collection of homogenous or hetrogenous elements. Notation -[] 
Tuple- Its similar to a list but not exactly a list. A collection to hold multiple elements at atime. Notation- ()

In [1]:
T = (1,23.45, 45+67j, 'tuples', False, [78,54,23])

In [2]:
type(T)

tuple

Slicing of Tuples/ Accessing elements in Tuple

In [3]:
T[0:3]

(1, 23.45, (45+67j))

Note: Incase of slicing, whether its a tuple or list, should use [] only

In [4]:
T[::-1]

([78, 54, 23], False, 'tuples', (45+67j), 23.45, 1)

In [5]:
T[-1]

[78, 54, 23]

So incase of slicing operations, no difference bewteen string/ list / tuple.Will able to access elements in same manner

In [6]:
T[0::2]

(1, (45+67j), False)

Item Assignment Operations

In [7]:
L1 = [1,3,5,7,9, False]

In [8]:
T2 = (2,4,6,8, True)

In [9]:
L1[-1] = "False"

In [10]:
L1

[1, 3, 5, 7, 9, 'False']

In [11]:
T2[-1] = 'True'

TypeError: 'tuple' object does not support item assignment

1st difference between List & Tuple is Notation
2nd difference is item assignment of particular index supports List but not Tuple

In [27]:
T

(1, 23.45, (45+67j), 'tuples', False, [78, 54, 23])

In [28]:
T2

(2, 4, 6, 8, True)

In [29]:
T+T2

(1, 23.45, (45+67j), 'tuples', False, [78, 54, 23], 2, 4, 6, 8, True)

In [30]:
T2+56

TypeError: can only concatenate tuple (not "int") to tuple

In [31]:
T+' '

TypeError: can only concatenate tuple (not "str") to tuple

In [32]:
# So addition of Tuples is possible only with Tuples

In [33]:
T*2

(1,
 23.45,
 (45+67j),
 'tuples',
 False,
 [78, 54, 23],
 1,
 23.45,
 (45+67j),
 'tuples',
 False,
 [78, 54, 23])

In [34]:
T2

(2, 4, 6, 8, True)

As Tuple is immutable, it cant support many inbuilt operations like List. It can only perform count & index

In [35]:
T

(1, 23.45, (45+67j), 'tuples', False, [78, 54, 23])

In [36]:
T[2]

(45+67j)

In [37]:
T[2].real

45.0

In [38]:
T.count(True) #why is it showing as 1 when it's not present

1

In [39]:
T.index(False)

4

In [40]:
TUP =(3,5,7,11,True)

In [41]:
TUP.index(True)

4

Advantage of tuple- Its used wherever user dont want to let data manipulate, there he stores data in tuples.
-It can be also used wherever data to be stored is fixed in collection, as it never supports append/ extend/ insert operation.

In [42]:
T1 = (132,45, "agjd", (56.87,0.01))

In [43]:
T2 = (345j, True, [76,78,False], ("saree"))

In [44]:
T1+T2

(132, 45, 'agjd', (56.87, 0.01), 345j, True, [76, 78, False], 'saree')

In [45]:
# So tuple can hold tuple inside tuple. And also hold list & tuple at atime inside tuple

In [46]:
T2[2].insert(1, "rain")

In [47]:
T2

(345j, True, [76, 'rain', 78, False], 'saree')

In [48]:
# We can perform insert or any other fun's as it is List which is present inside tuple but cant reassign elements in tuple

# Conversion of Data types

In [49]:
# List to Tuple

In [50]:
List1 = [1,34,45,55,56,'hbjj', ['small']]

In [51]:
TL1 = tuple(List1)

In [52]:
type(TL1)

tuple

In [53]:
TL1

(1, 34, 45, 55, 56, 'hbjj', ['small'])

In [54]:
Tuple1 = (('wesley'), 867,544658, '%^&&*',[865645,165164.1561])

In [55]:
LT1 = list(Tuple1)
print(LT1)
type(LT1)

['wesley', 867, 544658, '%^&&*', [865645, 165164.1561]]

list

# Conversion of the inner tuple into List- Needs to be verified

# Sets

In [56]:
# Set - It is a function used for removing duplicate elements in a list/ tuple, Notation- {}

In [57]:
St = [1,2,3,89,4,56,56,4,3,2,1,89,2,56,5,6,7,8,45,45]

In [58]:
S = set(St)

In [59]:
S

{1, 2, 3, 4, 5, 6, 7, 8, 45, 56, 89}

In [60]:
S[2]

TypeError: 'set' object is not subscriptable

We cant access elements in set bcoz it is an unordered collection of unique elements, so to access the elements, convert it into List and access it

In [61]:
Tup = (567,6556,765,567,765,456,876,456,987,987,12,12)

In [62]:
set(Tup)

{12, 456, 567, 765, 876, 987, 6556}

In [63]:
q ={}
r ={ }

In [64]:
type(q)

dict

In [65]:
type(r)

dict

In [66]:
s1 = {1,45.52,890,'fella', "class"}

In [67]:
type(s1)

set

In [68]:
# when there's no element given in {}, called as dictionary
# Even if a single element is given in {}, known as set

In [69]:
s2 ={1,2,3,1,2,3,4,5,3,2,1,5,6,9}

In [70]:
s2

{1, 2, 3, 4, 5, 6, 9}

In [71]:
list(s2)

[1, 2, 3, 4, 5, 6, 9]

In [72]:
# Functionalities of Set

In [73]:
s2.add('add')

In [74]:
s2

{1, 2, 3, 4, 5, 6, 9, 'add'}

In [75]:
s2.add([12,234.45])

TypeError: unhashable type: 'list'

In [76]:
# able to add integer, float, string to set but not list. Bcoz as set holds unordered collection of unique elements.
# It can always find the uniqueness in between primitive data type but not in between collection

In [77]:
s2.add((23,67j,'string'))

In [78]:
s2

{(23, 67j, 'string'), 1, 2, 3, 4, 5, 6, 9, 'add'}

In [79]:
# Set allows to host a tuple as it is immutable. It means as we can't make any changes to tuple and its indices. Hence it allows

In [80]:
s1 = {(23,67j,'string'), (23,67j,'string'), 12, 34, 45, 34, 45}

In [81]:
s1

{(23, 67j, 'string'), 12, 34, 45}

In [82]:
# As set contains only unordered unique elements, so it removed same tuple

In [83]:
s1.remove(34)

In [84]:
s1

{(23, 67j, 'string'), 12, 45}

In [85]:
# It removes an element from a set if its a member, else throws an key error

In [86]:
s1.discard('A')

In [87]:
s1

{(23, 67j, 'string'), 12, 45}

In [88]:
# It removes an element from a set if its a member, else it returns set as it is

In [89]:
A = {"cool", "cooL"}

In [90]:
A

{'cooL', 'cool'}

In [91]:
# As it is case sensitive, it allows both of the elements as they're considered as unique

In [92]:
A.pop()
print(A)

{'cooL'}

In [93]:
# Pop fun- Diff for Set as it removes elements randomly from set as its an unordered collection of unique elements

# Dictionary

In [94]:
# It's a collection where we can store values in "key & pair"
# It's similar to normal dictionary, where 1st value called as KEY holds the value(2nd value)
# Notation- {}
# Key : Value
# It's another type of collection where it holds the data in key: value pair

In [95]:
D1 = {1 : "sail", 2 :'ship', 3: 'water', 4:'deck', 5: [12,56,58.45,56j], 6:(0,1,56,85,'waves')}

In [96]:
D1[1]

'sail'

In [97]:
# In dictionary key is similar to index in the list, so for accessing keys are used like indices

In [98]:
D1[4].capitalize()

'Deck'

In [99]:
D1[5][2]

58.45

In [100]:
D2 = {^: [1,33,78,'sbjbd']}

SyntaxError: invalid syntax (<ipython-input-100-0508ca56c567>, line 1)

In [101]:
# So special characters given as key value wont support

In [102]:
D3 = {'^': [1,33,78,'sbjbd']}

In [103]:
D3

{'^': [1, 33, 78, 'sbjbd']}

In [104]:
# Here key value has accepted a special character as it considered as string but not as a special char

In [105]:
D4 ={'s': {344,'fdhg'}}

In [106]:
D4

{'s': {344, 'fdhg'}}

In [107]:
D1+D4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [108]:
# so concatenation of dictionaries isn't possible

In [109]:
D5 ={'key1': (989,76768,'bdjb',['dnf',56]), 'key2':85, 'key3':'nmbc', 'key1':[90,7.68,'bdjb',['dnf',56]]}

In [110]:
D5['key1']

[90, 7.68, 'bdjb', ['dnf', 56]]

In [111]:
# Key value should always be unique, if its duplicated- system always hold it only with recent value

In [112]:
D6 = {'key':85, 'Key':85}

In [113]:
D6

{'key': 85, 'Key': 85}

In [114]:
# so value can be anything, no rule as such it should be unique

In [115]:
D7 = {'key2':85, 'key3':@}

SyntaxError: invalid syntax (<ipython-input-115-37a6db870a2b>, line 1)

In [116]:
# So value and key don't support special character

In [117]:
d1 ={'name':'bb', 'ph':58788776,'pin':505001,'st':'TG','bool':True,'k1':73,'k2':34.43,'k3':'jbfdj','k4':[475,'dfbd'],'k5':(25,454,'dsfhv'),'k6':{766,766,54,54,'fbj'},'k7':{2:'two',3:'three'}}

In [118]:
d1

{'name': 'bb',
 'ph': 58788776,
 'pin': 505001,
 'st': 'TG',
 'bool': True,
 'k1': 73,
 'k2': 34.43,
 'k3': 'jbfdj',
 'k4': [475, 'dfbd'],
 'k5': (25, 454, 'dsfhv'),
 'k6': {54, 766, 'fbj'},
 'k7': {2: 'two', 3: 'three'}}

In [119]:
# So dict can contain any type of value(int,float,bool,composite no,string,set,list,tuple & dict as well) in form of key:value

In [120]:
d2={[4,534,45]:[847,9897,'k']}

TypeError: unhashable type: 'list'

In [121]:
# Key doesn't support list as it is mutable

In [122]:
d3 ={(4,534,45):[847,9897,'k']}

In [123]:
d3

{(4, 534, 45): [847, 9897, 'k']}

In [124]:
# The keys can be any immutable type.So,can't use a tuple as a key if any of its elements are lists.
# (You can only use a tuple as a key if all of its elements are immutable.)

In [125]:
d1

{'name': 'bb',
 'ph': 58788776,
 'pin': 505001,
 'st': 'TG',
 'bool': True,
 'k1': 73,
 'k2': 34.43,
 'k3': 'jbfdj',
 'k4': [475, 'dfbd'],
 'k5': (25, 454, 'dsfhv'),
 'k6': {54, 766, 'fbj'},
 'k7': {2: 'two', 3: 'three'}}

In [126]:
d1.keys()

dict_keys(['name', 'ph', 'pin', 'st', 'bool', 'k1', 'k2', 'k3', 'k4', 'k5', 'k6', 'k7'])

In [127]:
# Retrieves all keys

In [128]:
d1.values()

dict_values(['bb', 58788776, 505001, 'TG', True, 73, 34.43, 'jbfdj', [475, 'dfbd'], (25, 454, 'dsfhv'), {54, 766, 'fbj'}, {2: 'two', 3: 'three'}])

In [129]:
# Retrieves all values

In [130]:
d1.items()

dict_items([('name', 'bb'), ('ph', 58788776), ('pin', 505001), ('st', 'TG'), ('bool', True), ('k1', 73), ('k2', 34.43), ('k3', 'jbfdj'), ('k4', [475, 'dfbd']), ('k5', (25, 454, 'dsfhv')), ('k6', {54, 766, 'fbj'}), ('k7', {2: 'two', 3: 'three'})])

In [131]:
# Gives a list of all key & value pairs in form of tuple

In [132]:
type(d1.items())

dict_items

Adding Elements to Dictionary

In [133]:
d3

{(4, 534, 45): [847, 9897, 'k']}

In [134]:
d3['key1']=908

In [135]:
d3

{(4, 534, 45): [847, 9897, 'k'], 'key1': 908}

In [136]:
del d3['key1']

In [137]:
d3

{(4, 534, 45): [847, 9897, 'k']}

In [138]:
# Del a dictionary
del d3

In [139]:
d3

NameError: name 'd3' is not defined

In [140]:
d1.popitem()

('k7', {2: 'two', 3: 'three'})

In [141]:
d1

{'name': 'bb',
 'ph': 58788776,
 'pin': 505001,
 'st': 'TG',
 'bool': True,
 'k1': 73,
 'k2': 34.43,
 'k3': 'jbfdj',
 'k4': [475, 'dfbd'],
 'k5': (25, 454, 'dsfhv'),
 'k6': {54, 766, 'fbj'}}

In [142]:
d1.pop('k1')

73

In [143]:
d1

{'name': 'bb',
 'ph': 58788776,
 'pin': 505001,
 'st': 'TG',
 'bool': True,
 'k2': 34.43,
 'k3': 'jbfdj',
 'k4': [475, 'dfbd'],
 'k5': (25, 454, 'dsfhv'),
 'k6': {54, 766, 'fbj'}}

In [144]:
# Diff between popitem & pop is-
# Popitem- Removes last key:value where as Pop removes mentioned key:value

In [145]:
d1.get('pin')

505001

In [146]:
d1.get(1)

In [147]:
# Returns the value if key is present in dict, else returns nothing

In [148]:
d4 ={'roll': 1, 'atten': 'Y'}
d5 ={'inst':'ineuron','batch':'FSDS'}

In [149]:
d4.update(d5)

In [150]:
d4

{'roll': 1, 'atten': 'Y', 'inst': 'ineuron', 'batch': 'FSDS'}

In [151]:
d5.update(d4)

In [152]:
d5

{'inst': 'ineuron', 'batch': 'FSDS', 'roll': 1, 'atten': 'Y'}

In [153]:
# Update- Allows you to add/concatenate 2 dictionaries permanently

In [156]:
keys = ('name','ph_no','prof')
values = ('MD',76546,'st')

In [157]:
ND = d5.fromkeys(keys,values)

In [158]:
ND

{'name': ('MD', 76546, 'st'),
 'ph_no': ('MD', 76546, 'st'),
 'prof': ('MD', 76546, 'st')}

In [159]:
# fromkeys- It forms a new dict with new keys & value(all keys take same value) with help of existing dict format