Data Types:
String - A collection of characters. Notation - " " or ' '
List - A collection of homogenous or hetrogenous elements. Notation -[] 
Tuple- Its similar to a list but not exactly a list. A collection to hold multiple elements at atime. Notation- ()

In [1]:
T = (1,23.45, 45+67j, 'tuples', False, [78,54,23])

In [2]:
type(T)

tuple

Slicing of Tuples/ Accessing elements in Tuple

In [3]:
T[0:3]

(1, 23.45, (45+67j))

Note: Incase of slicing, whether its a tuple or list, should use [] only

In [4]:
T[::-1]

([78, 54, 23], False, 'tuples', (45+67j), 23.45, 1)

In [5]:
T[-1]

[78, 54, 23]

So incase of slicing operations, no difference bewteen string/ list / tuple.Will able to access elements in same manner

In [6]:
T[0::2]

(1, (45+67j), False)

Item Assignment Operations

In [7]:
L1 = [1,3,5,7,9, False]

In [8]:
T2 = (2,4,6,8, True)

In [9]:
L1[-1] = "False"

In [10]:
L1

[1, 3, 5, 7, 9, 'False']

In [12]:
T2[-1] = 'True'

TypeError: 'tuple' object does not support item assignment

1st difference between List & Tuple is Notation
2nd difference is item assignment of particular index supports List but not Tuple

In [13]:
T

(1, 23.45, (45+67j), 'tuples', False, [78, 54, 23])

In [14]:
T2

(2, 4, 6, 8, True)

In [15]:
T+T2

(1, 23.45, (45+67j), 'tuples', False, [78, 54, 23], 2, 4, 6, 8, True)

In [16]:
T2+56

TypeError: can only concatenate tuple (not "int") to tuple

In [17]:
T+' '

TypeError: can only concatenate tuple (not "str") to tuple

In [18]:
# So addition of Tuples is possible only with Tuples

In [19]:
T*2

(1,
 23.45,
 (45+67j),
 'tuples',
 False,
 [78, 54, 23],
 1,
 23.45,
 (45+67j),
 'tuples',
 False,
 [78, 54, 23])

In [20]:
T2

(2, 4, 6, 8, True)

As Tuple is immutable, it cant support many inbuilt operations like List. It can only perform count & index

In [21]:
T

(1, 23.45, (45+67j), 'tuples', False, [78, 54, 23])

In [31]:
T.count(True) #why is it showing as 1?

1

In [32]:
T.index(False)

4

Advantage of tuple- Its used wherever user dont want to let data manipulate, there he stores data in tuples.
-It can be also used wherever data to be stored is fixed in collection, as it never supports append/ extend/ insert operation.

In [33]:
T1 = (132,45, "agjd", (56.87,0.01))

In [36]:
T2 = (345j, True, [76,78,False], ("saree"))

In [37]:
T1+T2

(132, 45, 'agjd', (56.87, 0.01), 345j, True, [76, 78, False], 'saree')

In [38]:
# So tuple can hold tuple inside tuple. And also hold list & tuple at atime inside tuple

In [39]:
T2[2].insert(1, "rain")

In [40]:
T2

(345j, True, [76, 'rain', 78, False], 'saree')

In [41]:
# We can perform insert or any other fun's as it is List which is present inside tuple but cant reassign elements in tuple

Conversion of Data types

In [42]:
# List to tuple

In [49]:
List1 = [1,34,45,55,56,'hbjj', ['small']]

In [50]:
TL1 = tuple(List1)

In [51]:
type(TL1)

tuple

In [52]:
TL1

(1, 34, 45, 55, 56, 'hbjj', ['small'])

In [55]:
Tuple1 = (('wesley'), 867,544658, '%^&&*',[865645,165164.1561])

In [56]:
LT1 = list(Tuple1)
print(LT1)
type(LT1)

['wesley', 867, 544658, '%^&&*', [865645, 165164.1561]]

list